.field {
  /*width: 850px;*/
  /*width: 1598px;*/
  width: 1365px;
  height: 450px;
  margin: 7vh auto 3vh;
  user-select: none;
  backdrop-filter: blur(50px);
}

.line {
  width: inherit;
  height: 86px;
}

.char {
  float: left;
  width: 39px;
  height: inherit;
  font-family: "JetBrainsMono-Regular", monospace;
  font-size: 65px;
  background: rgba(70, 70, 70, 0.75);
  color: rgb(175, 175, 175);
}

/*.field :last-child {*/
/*  margin-right: 0;*/
/*}*/

.char-correct {
  /*background: rgb(20, 120, 100);*/
  color: rgb(40, 190, 100);
}


.char-wrong {
  /*background: rgb(220, 100, 70);*/
  /*color: rgb(70, 35, 35);*/
  color: rgb(255, 50, 50);
}

.char-neutral {
  color: rgb(100, 100, 180);
  /*color: rgb(205, 115, 255);*/
}

.char-caret {
  /*filter: drop-shadow(0 0 5px rgb(0, 255, 255));*/
  /*filter: drop-shadow(0 0 5px rgb(205, 115, 250));*/
  filter: drop-shadow(0 0 5px lawngreen);
}

.char-volume {
  filter: drop-shadow(3px 2px 2px);
}