.finger-pointers {
  width: 1365px;
  height: 20px;
  margin: 20px auto 10px;
  /*border: red solid 1px;*/
  /*display: flex;*/
  /*justify-content: flex-end;*/
  transition: visibility 500ms, opacity 500ms;
}

.left-hand,
.right-hand {
  width: 120px;
  height: 18px;
  /*background: rgb(20, 20, 20);*/
  backdrop-filter: blur(200px);

  border-radius: 10px;
  border: solid black 1px;
}

.left-hand {
  float: left;
  margin-right: 20px;
}

.right-hand {
  float: right;
  margin-left: 20px;
}


.left-hand:nth-child(1) {
  background: rgba(0, 0, 255, 0.75);
  margin-left: 40px;
}

.right-hand:nth-child(5) {
  background: rgba(0, 0, 255, 0.75);
  margin-right: 40px;
}

.left-hand:nth-child(2),
.right-hand:nth-child(6) {
  background: rgba(0, 128, 0, 0.75);
}

.left-hand:nth-child(3),
.right-hand:nth-child(7) {
    background: rgba(255, 255, 0, 0.75);
}
/*.right-hand:nth-col()*/

.left-hand:nth-child(4),
.right-hand:nth-child(8) {
    background: rgba(255, 0, 0, 0.75);
}

.finger-pointers .pointers-disabled {
  /*background: rgba(50, 50, 50, 0.75);*/
}

/*#left-pinky {*/
/*  background: rgba(0, 0, 255, 0.75);*/
/*  margin-left: 40px;*/
/*}*/

/*#right-pinky {*/
/*  background: rgba(0, 0, 255, 0.75);*/
/*  margin-right: 40px;*/
/*}*/

/*#left-ring,*/
/*#right-ring {*/
/*  background: rgba(0, 255, 0, 0.75);*/
/*}*/

/*#left-middle,*/
/*#right-middle {*/
/*  background: rgba(255, 255, 0, 0.75);*/
/*}*/

/*#left-index,*/
/*#right-index {*/
/*  background: rgba(255, 0, 0, 0.75);*/
/*}*/