.finger-pointers {
  position: relative;
  width: 1365px;
  height: 20px;
  margin: 40px auto 10px;
  transition: visibility 500ms, opacity 500ms;
}

.left-hand,
.right-hand {
  width: 120px;
  height: 18px;
  backdrop-filter: blur(200px);

  border-radius: 10px;
  border: solid black 1px;
}

.left-hand {
  float: left;
  margin-right: 15px;
}

.right-hand {
  float: right;
  margin-left: 15px;
}

.left-hand:nth-child(1) {
  background: rgba(0, 0, 255, 0.75);
  margin-left: 15px;
}

.right-hand:nth-child(6) {
  background: rgba(0, 0, 255, 0.75);
  margin-right: 15px;
}

.left-hand:nth-child(2),
.right-hand:nth-child(7) {
  background: rgba(0, 175, 0, 0.75);
}

.left-hand:nth-child(3),
.right-hand:nth-child(8) {
  background: rgba(255, 255, 0, 0.75);
}

.left-hand:nth-child(4),
.right-hand:nth-child(9) {
  background: rgba(255, 0, 0, 0.75);
}

.finger-pointers .pointer-disabled {
  background: rgba(50, 50, 50, 0.75);
}

#lang-marker {
  width: auto;
  background: none;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}