.keyboard {
  width: 945px;
  height: 318px;
  margin: 0 auto;
  user-select: none;
  background: rgb(170, 170, 170);
  border-radius: 15px;

  transition: visibility 300ms, opacity 300ms;
}

.button-up,
.button-dn1,
.button-dn2 {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-top: 3px;
  margin-right: 3px;
  font-size: 21px;
  font-family: "PTMonoWebRegular", monospace;
  text-align: center;

  color: black;
  background: rgb(200, 200, 200);
  border: none;
  border-radius: 15px;
}

.button-up:after,
.button-dn1:after,
.button-dn2:after {
  content: "";
  height: 63px;
  display: inline-block;
  vertical-align: middle;
}

.button-dn1 {
  box-shadow: 0 0 30px 15px rgb(110, 30, 110, 0.5), inset 0 0 30px rgb(110, 30, 110, 0.5);
}

.button-dn2 {
  box-shadow: 0 0 30px 15px rgb(0, 255, 255, 0.5), inset 0 0 30px rgb(0, 255, 255, 0.5);
}

.button-dn1:after,
.button-dn2:after {
  height: 68px;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  width: inherit;
}

.row1 div:first-child,
.row2 div:first-child,
.row3 div:first-child,
.row4 div:first-child,
.row5 div:first-child {
  margin-left: 3px;
}

#backspace {
  width: 120px;
}

#tab {
  width: 90px;
}

#backslash {
  width: 90px;
}

#capslock {
  width: 107px;
}

#enter {
  width: 136px;
}

#shiftleft {
  width: 138px;
}

#shiftright {
  width: 168px;
}

#controlleft,
#osleft,
#altleft,
#altright,
#osright,
#contextmenu {
  width: 75px;
}

#space {
  width: 393px;
}

#controlright {
  width: 75px;
}