* {
  margin: 0;
  padding: 0;
}

html {
  /*box-sizing: border-box;*/
  overflow: hidden;
}

/* body {
  background: black no-repeat fixed center center;
  background-size: cover;
  transition: background 500ms linear;
} */

.hidden {
  visibility: hidden;
  opacity: 0;
}
