.settings-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: -360px;
  background: #337AB7;
  width: 320px;
  height: 100vh;
  box-shadow: 10px 0 20px rgba(0,0,0,0.4);
  color: #FFF;
  padding: 40px 20px;
  transition: left 500ms;
}

.settings-menu-open {
  left: 0;
}

.settings-title {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #BFE2FF;
}

.settings-btn-close {
  font-size: 30px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  color: #BFE2FF;
  transition: all 280ms ease-in-out;
}

.settings-btn-close:hover {
  transform: rotate(45deg) scale(1.1);
  color: #FFF;
}