@font-face {
  font-family: 'PTMonoWebRegular';
  src: url('/src/fonts/JetBrainsMono-Regular.woff2') format('woff2')
  /*font-weight: normal;*/
  /*font-style: normal;*/
}

body {
  /*background: #d438b2;*/
  /* fallback for old browsers)*/
  /*background: -webkit-linear-gradient(to right, #A55999FF);*/
  /*background: -webkit-linear-gradient(to right, #80B363FF, #11bee5);*/
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: rgb(200, 150, 150);*/
  background: rgba(247, 144, 186, 0.91);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.field {
  /*display: block;*/
  /*display: grid;*/
  /*grid-gap: 20px;*/
  /*grid-template-columns: repeat(auto-fit, 100px);*/
  /*flex-grow: unset;*/
  width: 805px;
  height: 147px;
  margin: 100px 0 0 100px;
  background: azure;
  font-size: 30px;
  font-family: "JetBrains Mono", monospace;
  /*font-family: "Courier New", monospace;*/
}

#box {
  width: 800px;
}

.line1,
.line2,
.line3 {
  /*  -ms-grid-row-span: inherit;*/
  display: flex;
  width: inherit;
  height: 48px;
  margin-bottom: 1px;
  /*white-space: normal;*/
}

.letter-caret,
.letter-target,
.letter-wrong,
.letter-correct {
  /*width: 28px;*/
  /*display: flex;*/
  /*display: block;*/
  font-size: 40px;
  margin-right: 1px;
  /*opacity: 40;*/
  background: rgba(155, 155, 155, 55%);
  border-radius: 3px;
  white-space: pre-wrap;
}

.letter-correct {
  background: rgba(144, 238, 144, 0.8);
}

.letter-wrong {
  background: red;
}

.letter-caret {
  /*display: inline-block;*/
  /*border-top: 5px solid rgba(0, 255, 0, 80%);*/
  border-bottom: 5px solid rgba(144, 238, 144, 0.8);
}

.keyboard {
  width: 626px;
  height: 208px;
  margin: 20px 0 0 100px;
  /*background: lightgrey;*/
}

.button-up,
.button-dn {
  /*font-weight: 500;*/
  /*display: inline-block;*/
  width: 40px;
  height: 40px;
  /*vertical-align: top;*/
  margin: 0 2px 0 0;
  /*padding: 2px;*/

  /*font-size: 15px;*/
  /*border-radius: 12%;*/
  /*padding-top: 10px;*/
  /*outline: none;*/
  font-family: "JetBrains Mono", monospace;
  font-size: 15px;
  /*font-family: Verdana, sans-serif;*/
  text-align: center;

  color: black;
  background: rgb(250, 220, 240);
  border: none;
  border-radius: 10px;
}

.button-up:after,
.button-dn:after {
  content: '';
  height: 42px;
  display: inline-block;
  vertical-align: middle;
}

.button-dn {
  box-shadow: 0 0 20px 10px rgb(0, 255, 0, 0.5), inset 0 0 20px rgb(0, 255, 0, 0.5);
}

.button-dn:after {
  /*height: 45px;*/
}

.row1,
.row2,
.row3,
.row4 {
  /*justify-content: center;*/
  /*grid-row: 5 / 6;*/
  display: flex;
  width: inherit;
  margin-bottom: 2px;
  /*align-items: baseline;*/
}

.row5 {
  display: flex;
  width: inherit;
}

#backspace {
  width: 80px;
  margin-right: 0;
}

#tab,
#backslash {
  width: 60px;
  margin-right: 0;
}

#capslock {
  width: 71px;
}

#enter {
  width: 91px;
  margin-right: 0;
}

#shiftleft {
  width: 92px;
}

#shiftright {
  width: 112px;
  margin-right: 0;
}

#controlleft,
#osleft,
#altleft,
#altright,
#osright,
#contextmenu {
  width: 50px;
}

#space {
  width: 262px;
}

#controlright {
  width: 50px;
  margin-right: 0;
}


