body {
  /*background: #d438b2;*/
  /* fallback for old browsers)*/
  /*background: -webkit-linear-gradient(to right, #A55999FF);*/
  /*background: -webkit-linear-gradient(to right, #80B363FF, #11bee5);*/
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: rgb(200, 150, 150);*/
    background: rgb(255, 180, 180);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 900px;
  margin: 200px 0 0 200px;
}

.button,
.button2 {
  /*font-weight: 500;*/
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: top;
  margin: 1px;
  padding: 2px;

  /*font-size: 15px;*/
  /*border-radius: 12%;*/
  /*padding-top: 10px;*/
  /*outline: none;*/
  font-family: Verdana, sans-serif;
  text-align: center;

  color: black;
  background: rgb(250, 220, 240);
  border: none;
  border-radius: 10px;
}

.button:after,
.button2:after {
  content: '';
  height: 42px;
  display: inline-block;
  vertical-align: middle;
}

.button2 {
  box-shadow: 0 0 20px 10px rgb(0, 255, 0, 0.5), inset 0 0 20px rgb(0, 255, 0, 0.5);
}

.button2:after {
  height: 45px;
}

.row1,
.row2,
.row3 {
  /*justify-content: center;*/
  /*grid-row: 5 / 6;*/
  display: flex;
  /*align-items: baseline;*/
  /*padding: 0 0.3rem;*/
  /*margin-top: 1rem;*/
}

#backquote {
  width: 50px;
}

#backspace {
  width: 100px;
}

#tab {
  width: 80px;
}

#backslash {
  width: 50px;
}

#capslock {
  width: 100px;
}

#enter {
  width: 100px;
}


/*.a_demo_one {*/
/*  background-color: #ba2323;*/
/*  padding: 10px;*/
/*  position: relative;*/
/*  font-family: 'Open Sans', sans-serif;*/
/*  font-size: 12px;*/
/*  text-decoration: none;*/
/*  color: #fff;*/
/*  border: solid 1px #831212;*/
/*  background-image: linear-gradient(bottom, rgb(171, 27, 27) 0%, rgb(212, 51, 51) 100%);*/
/*  border-radius: 5px;*/
/*}*/
